Package: com.dvntm.firstlook
Name: FirstLook
Version: 0.0.4
Architecture: iphoneos-arm
Description: First look for the LastLook tweak
Maintainer: dvntm
Author: dvntm
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.anthopak.lastlook
